<div class="data-item-view col {{class}}" [class.selected]="selected" (click)="itemSelected()">
  <div class="row">
    <span class="col-2 icon">&nbsp;</span>
    <span class="col name ">{{item.name}}</span>
  </div>
  <div class="row">
    <span class="col-2 id ">&nbsp;</span>
    <span class="col-3 extid ">{{item.extid}}</span>
    <span class="col charid text-uppercase">{{item.charid}}</span>
    <button class="col-2" (click)="buttonClicked();$event.stopPropagation();">⇩</button>
  </div>
</div>