<asfront-nav></asfront-nav>
<div class="container">
  <div class="starter-template">
    <h1>
      <p class="lead"># {{title}} #</p>
    </h1>
  </div>
  <router-outlet></router-outlet>

  <p>Number of selected Items: {{nbSelected}}</p>
  <div class="row">
    <div class="roles container col-6">
      <h3>Roles</h3>
      <data-item-view *ngFor="let item of roles" [item]="item" (select)="selectionChanged($event, item)"></data-item-view>
    </div>

    <div class="acodes container col-6">
      <h3>Acodes</h3>
      <data-item-view *ngFor="let item of acodes" [item]="item" (select)="selectionChanged($event, item)"></data-item-view>
    </div>
  </div>

  <div class="items container col-6">
    <h3>Mixed Item List</h3>
    <data-item-view *ngFor="let item of items" [item]="item" (select)="selectionChanged($event, item)"></data-item-view>
  </div>
</div>
<asfront-footer></asfront-footer>