.user-item {
    background-color: #DDE6F1
}

.user-item.selected {
    background-color: #BCCCE2
}

.acode-item {
    background-color: #ECF1E0
}

.acode-item.selected {
    background-color: #C6D799
}

.role-item {
    background-color: #FAEADC
}

.role-item.selected {
    background-color: #E8C4A4
}

.entity-item {
    background-color: #F2F2F2
}

.entity-item.selected {
    background-color: #D5D5D5
}